body{
  background-color: #204051;
}

.heading{
  font-size: 4rem;
  text-align: center;
  color: #f37121;
  /* text-shadow: 4px 4px #b83b5e; */
}

.drum{
  width: 125px;
  height: 125px;
  font-size: 2.5rem;
  font-family: 'Playfair Display', serif;
  background-color: #b7efcd;
  color:#4cd3c2;
  border: 10px solid #84a9ac;
  border-radius: 25px;
  display: inline-block;
  margin-left: 55px;
  margin-top: 100px;
  cursor: pointer;
}

.s{
  background-image: url("DrumBackground_images/tom3.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.d{
  background-image: url("DrumBackground_images/tom1.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.w{
  background-image: url("DrumBackground_images/tom4.png");
  background-size: 100%;
  background-repeat: no-repeat;

}

.e{
 background-image: url("DrumBackground_images/kick.png");
 background-size: 100%;
 background-repeat: no-repeat;
}

.r{
  background-image: url("DrumBackground_images/snare.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.q{
  background-image: url("DrumBackground_images/tom2.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.a{
  background-image: url("DrumBackground_images/crash.png");
  background-size: 50%;
  background-repeat: repeat-x;
}

footer{
  color: #79d70f;
  text-align: center;
  font-family: 'Playfair Display', serif;
  margin-top: 180px;
}
